# Core dependencies
torch==2.5.1
torchvision==0.20.1
torchaudio==2.5.1
numpy==1.26.4
scipy==1.13.1
scikit-learn==1.6.1

# Data processing & Signal
h5py==3.14.0
pandas==2.3.0
wfdb==4.3.1
heartpy==1.2.7

# Meta-learning & Neural Networks
learn2learn==0.1.5
torchinfo==1.8.0

# Visualization
matplotlib==3.9.4
seaborn==0.13.2

# Utilities
tqdm==4.67.1
fastcore==1.8.4